{% extends "base.html" %}

{% block content %}
  <h1>{{ task.name }}</h1>
  <a class="btn btn-success" href="{% url 'dashboard:task-update' pk=task.id %}">Update</a>
  <a class="btn btn-danger" href="{% url 'dashboard:task-delete' pk=task.id %}">Delete</a>
  <h2>Task Type: {{ task.task_type }}</h2>
  <p><strong>Description:</strong> {{ task.description }}</p>
  <p><strong>Deadline:</strong> {{ task.deadline }}</p>
  <p><strong>Is completed:</strong> {{ task.is_completed }}</p>
  <p><strong>Priority:</strong> {{ task.priority }}</p>

  <div class="ml-3">
    <h3>Assignees</h3>
    {% for assignee in task.assignees.all %}
      <hr>
      <p class="text-muted"><strong>Id:</strong> {{ assignee.id }}</p>
      <p>
        <strong>Full name:</strong>
        {{ assignee.first_name }} {{ assignee.last_name }} ({{ assignee.position }})
      </p>
    {% empty %}
      <p>No workers!</p>
    {% endfor %}
  </div>
{% endblock %}
