{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Worker List
    <a style="float: right" class="btn btn-primary"
       href="{% url 'dashboard:worker-create' %}">+</a>
  </h1>

  <form action="" method="get">
    <div class="input-group">
      {{ search_form|crispy }}
      <div class="input-group-append">
        <input class="btn btn-secondary" type="submit" value="🔍">
      </div>
    </div>
    <div class="input-group">
      {{ filter_form|crispy }}
      <div class="input-group-append">
        <input class="btn btn-secondary" type="submit" value="Filter">
      </div>
    </div>
  </form>

  <br>

  {% if worker_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Full name</th>
        <th>Username</th>
        <th>Position</th>
      </tr>

      {% for worker in worker_list %}
        <tr>
          <td>
            <a href="{{ worker.get_absolute_url }}">{{ worker.id }}</a>
          </td>
          <td>
            {{ worker.first_name }} {{ worker.last_name }}
          </td>
          <td>
            {{ worker.username }}
          </td>
          <td>
            {{ worker.position }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no worker in system!</p>
  {% endif %}
{% endblock %}
