{% extends "base.html" %}

{% block content %}
  <h1>{{ worker.first_name }} {{ worker.last_name }}</h1>
  <a class="btn btn-success" href="{% url 'dashboard:worker-update' pk=worker.id %}">Update</a>
  <a class="btn btn-danger" href="{% url 'dashboard:worker-delete' pk=worker.id %}">Delete</a>
  <p><strong>Username:</strong> {{ worker.username }}</p>
  <p><strong>Email:</strong> {{ worker.email }}</p>
  <p><strong>Position:</strong> {{ worker.position }}</p>

  <div class="row">
    <div class="col-sm-6">
      <h3>Uncompleted tasks:</h3>
      {% if worker.tasks.all %}
        {% for task in worker.tasks.all %}
          {% if not task.is_completed %}
            <hr>
            <p class="text-muted"><strong>Id:</strong> {{ task.id }}</p>
            <p><strong>{{ task.name }}</strong> ({{ task.task_type }})</p>
            <p class="text-muted">{{ task.description }}</p>
            <p><strong>Deadline:</strong> {{ task.deadline }}</p>
            <p><strong>Priority:</strong> {{ task.priority }}</p>
          {% endif %}
        {% endfor %}
      {% else %}
        <p>No uncompleted tasks!</p>
      {% endif %}
    </div>
    <div class="col-sm-6">
      <h3>Completed tasks:</h3>
      {% if worker.tasks.all %}
        {% for task in worker.tasks.all %}
          {% if task.is_completed %}
            <hr>
            <p class="text-muted"><strong>Id:</strong> {{ task.id }}</p>
            <p><strong>{{ task.name }}</strong> ({{ task.task_type }})</p>
            <p class="text-muted">{{ task.description }}</p>
            <p><strong>Deadline:</strong> {{ task.deadline }}</p>
            <p><strong>Priority:</strong> {{ task.priority }}</p>
          {% endif %}
        {% endfor %}
      {% else %}
        <p>No completed tasks!</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
